.link{
  padding:2px 8px;
  width:auto;
  height:auto;
  line-height: 24px;
  font-size:16px;
  display: inline-block;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  text-decoration: underline;

  &.disabled{
    color:#707070;
  }
  &.primary{
    color:#D8A929;
  }
}
.button{
  padding:8px 41px 8px 14px;
  width:auto;
  height:auto;
  line-height: 16px;
  font-size:14px;
  border-radius:30px;
  color:#D8A929;
  background-color: #ffffff;
  display: inline-block;
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 18px auto;
  background-image: url(../assets/arrow-gold.svg);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  border:1px solid #D8A929;

  &.big{
    padding:14px 41px 14px 20px;
  }

  &.fill-width{
    width:100%;
    max-width:230px;
  }

  &.primary{
    background-color: #D8A929;
    color: #ffffff;
    background-image: url(../assets/arrow-white.svg);
  }
}
.link:not(:first-child),
.button:not(:first-child){
  margin:0 16px;
}

.buttons-container:not(:last-child){
  margin-bottom:20px;

  &.lower-margin{
    margin-bottom:7px;
  }
  &.big-margin{
    margin-bottom:40px;
  }
}
.buttons-container:not(:first-child){
  margin-top:20px;
  &.lower-margin{
    margin-top:7px;
  }
  &.big-margin{
    margin-top:40px;
  }
}


