body{
  width:100%;
  height:auto;
  min-height:100vh;
  padding: 0;
  margin: 0;
  position: relative;
}
html{
  width:100%;
  height:100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

input,
input:active,
input:focus,
button{
  border: 0 none transparent;
  outline: none;
}

a{
  text-decoration: none;
  color:inherit;
}
img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height:auto;
}
