$columns: 12;

.grid{
  width:$container;
  max-width:100%;
  grid-gap: 0;
  height:auto;
  display:inline-grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: minmax(auto,100%);
  justify-content: stretch;
  align-content: flex-start;
  align-items: flex-start;

  &.horizontal-left{
    align-content: flex-start;
  }
  &.horizontal-center{
    align-content: space-around;
  }
  &.horizontal-right{
    align-content: flex-end;
  }

  &.vertical-top{
    justify-content: flex-start;
  }
  &.vertical-center{
    justify-content: space-around;
    align-items: center;
  }
  &.vertical-bottom{
    justify-content: flex-end;
  }

  &.fill-height{
    min-height:100%;
  }
  &.screen-height{
    min-height:100vh;
  }

  &.horizontal-gap-50{
    column-gap: 50px;
  }
  &.horizontal-gap-16{
    column-gap: 16px;
  }

  &.section{
    display:grid;
  }

  > * {
    grid-column: span 12;
  }
}

%column-styles {
  height:auto;
  margin:0;
  padding:0;
  text-align: center;

  &.horizontal-left{
    justify-self: flex-start;
    align-self: flex-start;
  }
  &.horizontal-center{
    justify-self: center;
    align-self: center;
  }
  &.horizontal-right{
    justify-self: flex-end;
    align-self: flex-end;
  }

  &.vertical-top{
    align-self: flex-start;
  }
  &.vertical-center{
    justify-self: center;
  }
  &.vertical-bottom{
    justify-self: flex-end;
  }
}

@for $i from 1 through $columns {
  .column-#{$i} { @extend %column-styles;grid-column: span #{$i}; }
}
