nav{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:72px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: center;
  box-shadow: 0 0 6px #0000006e;

  ul{
    width:100%;

    ul{
      width:auto;
    }

    height:auto;
    margin: 0;
    list-style: none;
    padding:0 36px 0 42px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Noto Sans JP', sans-serif;

    li{
      height:auto;
      width:auto;
      display:inline-block;
      padding:0;
      margin:0 4px 0 0;
      flex-shrink: 0;
      flex-grow: 0;
      position: relative;
    }
    li:after{
      content:"";
      position:absolute;;
      bottom:-2px;
      left:50%;
      transform: translate3d(-50%,-50%,0)  scale3d(0,1,1);
      height:2px;
      width:calc(100% - 20px);
      background-color: $color_gold;
      display:block;
      transition:0.3s 0s transform;
    }

    li:not(.no-bar).focus:after,
    li:not(.no-bar):hover:after{
      transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
    }

    li.focus{
      font-weight: bold;
    }


    a{
      display:inline-block;
      height:auto;
      width:auto;
      padding:7px 14px;
      margin:0;
      cursor: pointer;
    }

    .right-space{
      margin-right:35px;
    }
  }

  .right{
    flex-direction: row-reverse;
  }
}
