.title{
  line-height: 50px;
  font-size: 40px;
  text-align: left;
  box-sizing: border-box;
  padding:0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}
.big-title{
  line-height: 50px;
  font-size: 40px;
}
.small-title{
  line-height: 35px;
  font-size: 28px;
}
